---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <h1 class="text-4xl font-semibold p-10 text-center">
    Prueba cambiar colores con imagenes
  </h1>
  <!-- imagenes con inputs -->
  <main
    class="flex flex-col lg:flex-row justify-center gap-20 border-b border-b-gray-800 pb-10"
  >
    <!-- color mas prominente -->
    <div class="text-center flex flex-col gap-2">
      <h2 class="text-2xl">Color mas prominente</h2>
      <img id="img" src="spotify.png" alt="" class="w-96 rounded m-auto" />
      <div class="flex gap-2">
        <input type="file" accept="image/*" id="image-input" />
        <div id="color" class="m-auto p-3 rounded text-white">
          color principal
        </div>
      </div>
    </div>
    <!-- color promedio -->
    <div class="text-center flex flex-col gap-2">
      <h2 class="text-2xl">Color promedio</h2>
      <img id="img2" src="twitter.png" alt="" class="w-96 m-auto" />
      <div class="flex gap-2">
        <input type="file" accept="image/*" id="image-input-avg" />
        <div id="color4" class="m-auto p-3 rounded text-white">
          color Promedio
        </div>
      </div>
    </div>
  </main>
  <!-- pruebas -->
  <h2 class="text-3xl font-semibold text-center p-10">Prueba clases</h2>
  <div class="flex flex-col md:flex-row gap-3">
    <button
      class="w-40 m-auto py-3 rounded-md shadow-md font-semibold primary mb-10"
      >Iniciar sesión</button
    >
    <button
      class="w-40 m-auto py-3 rounded-md shadow-md font-semibold secundary mb-10"
      >Iniciar sesión</button
    >
  </div>
</Layout>

<script>
  import { prominent, average } from "color.js";

  // prominent ------------------------------------------

  async function getColors() {
    let array = [];
    const img = document.getElementById("img");
    const src = img.getAttribute("src");
    const color = document.getElementById("color");

    const colores: any = await prominent(src, { amount: 3 });

    let mostColorful = colores[0];
    let maxSum = mostColorful.reduce((acc, val) => acc + val, 0);

    // Check if white is present
    const whiteIndex = colores.findIndex(
      (color) => color[0] === 255 && color[1] === 255 && color[2] === 255
    );

    if (whiteIndex !== -1) {
      // If white is present, choose the second most colorful color
      colores.splice(whiteIndex, 1);
      mostColorful = colores[0];
      maxSum = mostColorful.reduce((acc, val) => acc + val, 0);
    }

    for (let i = 1; i < colores.length; i++) {
      const sum = colores[i].reduce((acc, val) => acc + val, 0);
      if (sum > maxSum) {
        mostColorful = colores[i];
        maxSum = sum;
      }
    }

    array = mostColorful;
    // convert rgb to hexadecimal
    const hexColor = array.reduce((acc, curr) => {
      const hex = curr.toString(16);
      return acc + (hex.length === 1 ? "0" + hex : hex);
    }, "#");

    // Update the background color of color principal
    color.style.backgroundColor = hexColor;

    // convert hexadecimal to lighter hexadecimal
    const lightenHexColor = hexColor + "90";

    // obtener todos los elementos con la clase primary
    const elements = document.getElementsByClassName("primary");

    // Update the background color of each element
    Array.from(elements).forEach((element) => {
      if (element instanceof HTMLElement) {
        element.style.backgroundColor = hexColor;
        element.style.transition = "background-color 0.3s ease"; // add transition effect
        element.addEventListener("mouseenter", () => {
          // add event listener for mouseenter
          element.style.backgroundColor = lightenHexColor;
        });
        element.addEventListener("mouseleave", () => {
          // add event listener for mouseleave
          element.style.backgroundColor = hexColor;
        });
      }
    });
  }

  getColors();

  const inputElement = document.getElementById("image-input");

  inputElement.addEventListener("change", async function () {
    setTimeout(async () => {
      getColors();
    }, 10);
  });
  // --------------------------------------------------
  // average ------------------------------------------

  async function getAverage() {
    const color4 = document.getElementById("color4");
    const img = document.getElementById("img2");
    const src = img.getAttribute("src");

    // obtener average de colores de una imagen
    const colores = await average(src);

    color4.style.backgroundColor = `rgb(${colores[0]}, ${colores[1]}, ${colores[2]})`;
    const array = [colores[0], colores[1], colores[2]];

    // convert rgb to hexadecimal
    const hexColor: any = array.reduce((acc, curr) => {
      const hex = curr.toString(16);
      return acc + (hex.length === 1 ? "0" + hex : hex);
    }, "#");

    // convert hexadecimal to lighter hexadecimal
    const lightenHexColor = hexColor + "90";

    // obtener todos los elementos con la clase primary
    const elements = document.getElementsByClassName("secundary");

    // Update the background color of each element
    Array.from(elements).forEach((element) => {
      if (element instanceof HTMLElement) {
        element.style.backgroundColor = hexColor;
        element.style.transition = "background-color 0.3s ease"; // add transition effect
        element.addEventListener("mouseenter", () => {
          // add event listener for mouseenter
          element.style.backgroundColor = lightenHexColor;
        });
        element.addEventListener("mouseleave", () => {
          // add event listener for mouseleave
          element.style.backgroundColor = hexColor;
        });
      }
    });
  }

  getAverage();

  const inputElementAvg = document.getElementById("image-input-avg");

  inputElementAvg.addEventListener("change", async function () {
    setTimeout(async () => {
      getAverage();
    }, 10);
  });
  // --------------------------------------------------
</script>

<script>
  // Get the input element and image element by their IDs
  const inputElement = document.getElementById("image-input");
  const imageElement = document.getElementById("img") as HTMLImageElement;
  // Add an event listener to the input element of principal
  inputElement.addEventListener("change", function () {
    // Ensure that a file was selected
    if (
      inputElement instanceof HTMLInputElement &&
      inputElement.files &&
      inputElement.files[0]
    ) {
      // Get the selected file (should be an image)
      const selectedFile = inputElement.files[0];

      // Create a FileReader to read the selected image
      const reader = new FileReader();

      // Set up the FileReader onload event to update the image src when the file is read
      reader.onload = function (event) {
        const src: string = event.target.result as string;
        imageElement.src = src;
      };

      // Read the selected file as a data URL (base64 encoded string)
      reader.readAsDataURL(selectedFile);
    }
  });

  // Get the input element and image element by their IDs
  const inputElementAvg = document.getElementById("image-input-avg");
  const imageElementAvg = document.getElementById("img2") as HTMLImageElement;
  // Add an event listener to the input element of avg
  inputElementAvg.addEventListener("change", function () {
    // Ensure that a file was selected
    if (
      inputElementAvg instanceof HTMLInputElement &&
      inputElementAvg.files &&
      inputElementAvg.files[0]
    ) {
      // Get the selected file (should be an image)
      const selectedFile = inputElementAvg.files[0];

      // Create a FileReader to read the selected image
      const reader = new FileReader();

      // Set up the FileReader onload event to update the image src when the file is read
      reader.onload = function (event) {
        const src: string = event.target.result as string;
        imageElementAvg.src = src;
      };

      // Read the selected file as a data URL (base64 encoded string)
      reader.readAsDataURL(selectedFile);
    }
  });
</script>
